<template>
  <div class="hello">
    <mdb-btn color="primary">Primary</mdb-btn>

    <!-- Default button -->
    <mdb-btn color="default">Default</mdb-btn>

    <!-- Secondary button -->
    <mdb-btn color="secondary">Secondary</mdb-btn>

    <!-- Indicates a successful or positive action -->
    <mdb-btn color="success">Success</mdb-btn>

    <!-- Contextual button for informational alert messages -->
    <mdb-btn color="info">Info</mdb-btn>

    <!-- Indicates caution should be taken with this action -->
    <mdb-btn color="warning">Warning</mdb-btn>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
